.primary-button,.secondary-button {
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: none;
    margin: 6px;
}

.primary-button {
    background-color: #1E2A5E;
    border: none;
    color: white;
}

.secondary-button {
    background-color: #ffffff;
    border: 1.3px solid #1E2A5E;
    color: #1E2A5E;
}