.white-container
{
    background-color: white;
    padding: 1%;
    border-radius: 14px;
    box-shadow: none;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}
