/* Estilos generales para el modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Asegúrate de que el modal esté por encima de todo */
}

.modal {
  width: none;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: none;
}

/* Título del modal */
.modal h2 {
  text-align: left;
  color: #1e2a5e;
  font-weight: bold;
}

/* Input del modal */
.modal-input {
  width: 100%;
  padding: 8px 12px;
  border: 1.2px solid #1e2a5e;
  border-radius: 8px;
  margin-bottom: 16px;
  font-size: 14px;
}

/* Botones de acción en el modal */
.action-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #55679c;
  margin-right: 8px;
}

/* Contenedor de botones alineados a la derecha */
.modal .flex {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* Botón de guardar y cancelar */
.primary-button {
  padding: 8px 16px;
  background-color: #1e2a5e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.primary-button:hover {
  background-color: #3e4b88; /* Color al hacer hover */
}

.primary-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.primary-button.isSecondary {
  background-color: #f0f0f0;
  color: #1e2a5e;
}

.primary-button.isSecondary:hover {
  background-color: #e0e0e0;
}
