/* components/SearchBar.module.css */
.search-bar {
  width: 100%;
  padding: 1.5%; /* Arriba, derecha, abajo, izquierda */
  border-radius: 10px;
  border: none;
  box-shadow: none;
  background-color: #ffffff;
}

.search-bar::placeholder {
  color: #a3a3a3; /* Color del texto del placeholder */
}

.search-bar-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
